<div class="from-group row">
  <div class="mb-3">
    <label class="col-form-label">expenseCategory</label>
    <input
      required
      type="text"
      #productsFormName="ngModel"
      class="form-control"
      [(ngModel)]="expenseCategory"
    />
    <label class="col-form-label">Date</label>
    <input
      required
      type="date"
      placeholder="yyyy-dd-mm"
      pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
      #productsFormName="ngModel"
      class="form-control"
      [(ngModel)]="date"
    />

    <div
      *ngIf="productsFormName.touched && productsFormName.invalid"
      class="alert-danger"
    >
      Expense date is required
    </div>
  </div>
  <div class="col-md-3">
    <label class="col-form-label">Amount (in ₹)</label>
    <input
      required
      type="number"
      #quantityForm="ngModel"
      class="form-control"
      [(ngModel)]="amount"
    />
    <div
      *ngIf="quantityForm.touched && quantityForm.value < 0"
      class="alert-danger"
      disabledbutton="true"
    >
      Amount should be greater than 0
    </div>
  </div>
  <div class="col-sm-3">
    <label class="col-form-label">userId</label>
    <input type="text" class="form-control" [(ngModel)]="userId" readonly />
  </div>
  <div class="ml-3 bd-highlight">
    <!-- <label class="col-form-label">Image</label> -->
    <img [src]="recieptImageUrl" class="img-responsive" alt="" />
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="col-xl-30 form-control"
    />
    <div *ngIf="!selectedFile" class="alert-danger">
      Upload the image of formats {{ imageformart }}
    </div>
    <div *ngIf="selectedFile" class="alert-danger">
      Upload the image of formats {{ imageformart }}
    </div>

    <!-- <button type="button" (click)="onUpload()" class="btn btn-primary">Upload</button> -->
  </div>
  <div class="col-xl-30">
    <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
    <textarea
      required
      #descriptionform="ngModel"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      [(ngModel)]="comments"
      >{{ descriptionform.invalid }}</textarea
    >
    <div
      *ngIf="descriptionform.touched && descriptionform.invalid"
      class="alert-danger"
    >
      Please provide comment for the added expense
    </div>
  </div>
</div>
<div *ngIf="recieptImage != null" class="download">
  <button
    *ngIf="dep.id != 0"
    class="col-auto btn btn-primary mt-3333"
    (click)="download()"
  >
    download
  </button>
</div>

<div class="Add_update">
  <div class="col-md-3">
    <button
      [disabled]="isDisabled()"
      *ngIf="dep.id == 0"
      (click)="addDepartment()"
      class="col-auto btn btn-primary mt-3333"
    >
      Add
    </button>

    <button
      [disabled]="isDisabledup()"
      (click)="updateDepartment()"
      *ngIf="dep.id != 0"
      class="col-auto btn btn-primary"
    >
      Update
    </button>
  </div>
</div>
