
    <div class="from-group row">
        <div class="mb-3">
            <label class="col-form-label">Product Name</label>
            <input required type="text" #productsFormName="ngModel" class="form-control" [(ngModel)]="productsName" />
            <div *ngIf="productsFormName.touched && productsFormName.invalid" class="alert-danger" >
                Product Name is required
            </div>
        </div>
        <div class="col-md-3">
            <label class="col-form-label">Quantity</label>
            <input required type="number" #quantityForm="ngModel" class="form-control" [(ngModel)]="quantity" />
            <div *ngIf="quantityForm.touched && quantityForm.value<1" class="alert-danger" disabledbutton="true" >
                Product quantity should be greater than 1  
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col-form-label">Factory ID</label>
            <input type="number" class="form-control" [(ngModel)]="factoryName" readonly />
        </div>
        <div class="ml-3 bd-highlight">
            <!-- <label class="col-form-label">Image</label> -->
            <img [src]=imageUrl class="img-responsive" alt="" >
            <input required type="file" (change)="onFileSelected($event)" class="col-xl-30 form-control"  />
            <div *ngIf="!selectedFile" class="alert-danger">Upload the image</div>
            <!-- <button type="button" (click)="onUpload()" class="btn btn-primary">Upload</button> -->
        </div>
        <div class="col-xl-30">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea required #descriptionform="ngModel" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description">{{descriptionform.invalid}}</textarea>
                <div *ngIf="descriptionform.touched && descriptionform.invalid" class="alert-danger" >
                    Provide discription for the product
                </div>
        </div>

    </div>
    <div class="download">

        <button *ngIf="dep.id!=0" class=" col-auto btn btn-primary mt-3333" (click)="download()">download</button>
    </div>

    <div class="Add_update" >
        <div  class=" col-md-3">
            <button [disabled]= "isDisabled()" *ngIf="dep.id==0 "
            (click)="addDepartment()"  class="col-auto btn btn-primary mt-3333">
                Add 
            </button>
            
            <button [disabled]= "isDisabledup()" (click)="updateDepartment()" *ngIf="dep.id!=0" class="col-auto btn btn-primary">
                Update
               
            </button>
        </div>
    </div>



