.product_details{
    background-color: rgb(180, 184, 230);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Discription_box{
    height: 100px;
    width: 400px;
}

.image_box{
    position: absolute;
    top: 300px;
    right: 200px;
    width: 400px;
    height: 400px;
    
    text-align: center;
  /* border: 3px solid #73AD21; */
}

.img-responsive{

    display: block;
      
      margin-top: 10px;
      margin-left: 20px;
      width: 90%;
      height: 85%;
      border: 1px solid black;
    
      
  /* border: 3px solid #73AD21; */
}

