<div class="from-group row">
  <div class="mb-3">
    <label class="col-form-label">User Id</label>
    <input
      required
      #factoryName="ngModel"
      type="text"
      class="form-control"
      [(ngModel)]="userId"
      (change)="checkunique($event)"
    />
    <div
      *ngIf="factoryName.touched && factoryName.invalid"
      class="alert-danger"
    >
      User Id is required and should be unique
    </div>
    <div *ngIf="ischecked()" class="alert-danger">User Id should be unique</div>
  </div>
  <div class="md-3">
    <label class="col-form-label">User name</label>
    <input
      required
      #locationName="ngModel"
      type="text"
      class="form-control"
      [(ngModel)]="userName"
    />
    <div
      *ngIf="locationName.touched && locationName.invalid"
      class="alert-danger"
    >
      Please enter user name
    </div>
    <!-- <div *ngIf="locationName.value > 2" >yes</div> -->
  </div>
</div>
<div>
  <div class="col-md-3">
    <button
      [disabled]="isDisabled()"
      (click)="addFactory()"
      *ngIf="dep.userId == 0"
      class="col-auto btn btn-primary mt-3333"
    >
      Add
    </button>

    <button
      [disabled]="isDisabled()"
      (click)="updateFactory()"
      *ngIf="dep.userId != 0"
      class="col-auto btn btn-primary"
    >
      Update
    </button>
  </div>
</div>
