 h1{
    text-align: center;
}
span.Rs {
      content: "\20B9";
    }

/* nav{
    margin-top: 10px;
    margin-bottom: 10px
} */

/* .Goto {
    margin-right: 100px;
    background-color: aqua;
} */