.header {
      padding: 60px;
      text-align: center;

      color: rgb(245, 12, 70);
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
span.Rs {
  content: "\20B9";
}